.header-container {
    background-color: #e0e0e0;
    padding: 0.5rem;
    margin-top: 500px;
}

.back-btn {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.back-btn:hover {
    transform: scale(1.1); /* Agranda el botón al pasar el ratón */
}


.header-title {
    font-size: 1.5rem;
    color: #333;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin: 0;
}

.create-btn {
    background-color: #6b4cb5;
    color: #fff;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.create-btn:hover {
    background-color: #583a94;
}

/* mi css*/
.bor-n {
    border: 2px solid black;
}
.bor-r {
    border: 3px solid red;
}
.dialog-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /*gap: 1rem;
    padding: 2rem;*/
}
.form-dialog{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto auto auto; 
                         /* Altura total del contenedor */
    padding: 1rem;                         /* Espacio interno para el contenedor */
    
}

.box-form {
    padding: 0.5rem; 
}
.form-dialog .box-form:nth-child(4){
    grid-column:2/3 ; /* La cuarta caja ocupa toda la segunda fila */
}
.form-dialog .box-form:nth-child(5){
    grid-column: 1 / -1; /* La quinta caja ocupa toda la tercera fila de ancho */
    grid-row: 3 / 4;     /* Ubica la caja en la tercera fila */
    min-height: 100%;  
}

/*Form*/

.character-atributes{
    font-weight: bold;
    width: 100%;           /* Ocupa el ancho completo del contenedor padre */
    height: 100%;          /* Ocupa la altura completa del contenedor padre */
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr; /* Columnas con espacio a los lados y las del centro */
    gap: 1rem;                                /* Espacio entre las cajas */
    padding: 1rem;                            /* Padding del contenedor */

}
.box-character{
    
    padding: 0.5rem;
    border: 1px solid black;
   

}

.character-atributes .box-character:nth-child(1){
    display: flex;
    grid-column: 1;
    justify-content: flex-end;
    align-items: center;
}

.character-atributes .box-character:nth-child(2){
    grid-column: 2;
}
.character-atributes .box-character:nth-child(3) {
    grid-column: 3; /* Tercera caja en la tercera columna (centrada) */
  }
  
.character-atributes .box-character:nth-child(4) {

    grid-column: 4;
    display: flex;

    justify-content: center;
    align-items: center;

}

.collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  
  .show {
    max-height: 500px; /* Ajusta el tamaño máximo necesario */
  }
  